@{
  Layout = "_Layout";
}
@using PierresTreats.Models;

<h1>Flavor Details View</h1>
<h4>@Model.FlavorName</h4>
<h5>Treats:</h5>
@if(Model.Joins.Count != 0)
{
  <ul>
    @foreach (FlavorTreat item in Model.Joins)
    {
      <li>@Html.ActionLink($"{@item.Treat.TreatName}", "Details", "Treats", new {id = item.Treat.TreatId})</li>
    }
  </ul>
}
@Html.ActionLink("Delete This Flavor", "Delete", new {id = Model.FlavorId})
<br>
@Html.ActionLink("Edit this Flavor", "Edit", new {id = Model.FlavorId})
<br>
@Html.ActionLink("Manage This Flavors Treats", "ManageTreats", new {id = Model.FlavorId})
